# Ignore environment files
/.env

# Ignore Python virtual environment
venv/

# Ignore all folders ending with '-app'
*-app/

# Ignore TODO files
TODO.md

# Ignore les fichiers compilés Python
__pycache__/
*.py[cod]