generator client {
  provider = "prisma-client-js"
}

datasource db {
  provider = "sqlite" // Remplacez par "postgresql" si vous utilisez PostgreSQL
  url      = env("DATABASE_URL")
}

{{ api.compile_to_prisma() }}